{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<h1 class="page-tutle">Вопросы</h1>
<div class="row question">
    <div class="col-3">
        <img class="avatar-image" src="{% static '/img/loading.png' %}" alt="No photo">
        <div class="reputation">
            <span class="vote" onclick="vote(1)">+</span>
            <span class="votes" style="margin-left: 10px; margin-right: 10px">0</span>
            <span class="vote vote-minus" onclick="vote(-1)">-</span>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title"><a class="question-title" href="#">Быть или не быть</a></div>
        <div class="question-text">Быть или не быть, вот в чем вопрос. Что вы думаете об этом вообще
        </div>
    </div>
</div>
<div class="row question">
    <div class="col-3">
        <img class="avatar-image" src="{% static '/img/loading.png' %}" alt="No photo">
        <div class="reputation">
            <span class="vote" onclick="vote(1)">+</span>
            <span class="votes" style="margin-left: 10px; margin-right: 10px">0</span>
            <span class="vote vote-minus" onclick="vote(-1)">-</span>
        </div>
    </div>

    <div class="col-9">
        <div class="question-title"><a class="question-title" href="#">Быть или не быть</a></div>
        <div class="question-text">Быть или не быть, вот в чем вопрос. Что вы думаете об этом вообще
        </div>
    </div>
</div>
<div class="row question">
    <div class="col-3">
        <img class="avatar-image" src="{% static '/img/loading.png' %}" alt="No photo">
        <div class="reputation">
            <span class="vote" onclick="vote(1)">+</span>
            <span class="votes" style="margin-left: 10px; margin-right: 10px">0</span>
            <span class="vote vote-minus" onclick="vote(-1)">-</span>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title"><a class="question-title" href="#">Быть или не быть</a></div>
        <div class="question-text">Быть или не быть, вот в чем вопрос. Что вы думаете об этом вообще
        </div>
    </div>
</div>
<!--   Навигация по странице         -->
<nav aria-label="Пример навигации по страницам" style="margin-top: 30px">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Предыдущая">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Следующая">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
