{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="page-title">Авторизация</h1>
<form action="#" method="POST">
    <div class="row question-frame">
        <div class="col-2">
            <label for="login">Логин</label>
        </div>
        <div class="col-10">
            <input type="text" id="login" name="login" required>
        </div>
    </div>
    <div class="row question-frame">
        <div class="col-2">
            <label for="login">Пароль</label>
        </div>
        <div class="col-10">
            <label for="password"></label><input type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="row question-frame">
        <div class="col-2">
        </div>
        <div class="col-10">
            <input type="submit" value="Войти" required>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
        <a style="" href="#">Создать новый аккаунт</a>
    </div>
</div>

{% endblock %}