{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

{% include 'components/question_item.html' %}

<hr>

{% for answer in answers %}

{% include 'components/answer_item.html' %}

{% endfor %}

{% include 'components/paginator.html' %}

<hr>
<form style="margin-bottom: 10px">
    <label for="answer">Ваш ответ:</label>
    <textarea id="answer" style="margin-bottom: 5px; margin-top: 10px; width: 100%" name="answer" rows="5"
              required></textarea>
    <input type="submit" value="Помочь">
</form>

{% endblock %}