{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

{% include 'components/question_item.html' %}

<hr>

{% if answers %}
    {% for answer in answers %}

    {% include 'components/answer_item.html' %}

    {% endfor %}

    {% include 'components/paginator.html' with item=answers %}
<hr>
{% endif %}

<form style="margin-bottom: 10px" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Помочь" %}
</form>

{% endblock %}