{% extends 'layouts/base.html' %}

{% block content %}
<h2 style="margin-bottom: 20px">Регистрация</h2>
<form action="#" method="POST">
    <div class="row question-frame">
        <div class="col-2">
            <label for="login">Логин</label>
        </div>
        <div class="col-10">
            <input type="text" id="login" name="login" required>
        </div>
    </div>
    <div class="row question-frame">
        <div class="col-2">
            <label for="email">Почта</label>
        </div>
        <div class="col-10">
            <input type="email" id="email" name="email" required pattern="">
        </div>
    </div>
    <div class="row question-frame">
        <div class="col-2">
            <label for="password">Пароль</label>
        </div>
        <div class="col-10">
            <input type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="row question-frame">
        <div class="col-2">
            <label for="rep-password">Повторите пароль</label>
        </div>
        <div class="col-10">
            <input type="password" id="rep-password" name="rep-password" required>
        </div>
    </div>
    <div class="row question-frame">
        <div class="col-2">
            <label for="avatar">Аватар</label>
        </div>
        <div class="col-10">
            <input type="file" id="avatar" name="avatar" required>
        </div>
    </div>
    <div class="row question-frame">
        <div class="col-2">
        </div>
        <div class="col-10">
            <input type="submit" value="Зарегистрироваться" required>
        </div>
    </div>
</form>
{% endblock %}