{% load static %}

<div class="row answer">
    <div class="col-3">
        <img class="avatar-image" src="{% static answer.author.avatar %}" alt="No photo">
        {% include "components/reputation.html" with rating=answer.get_total_rating %}
    </div>
    <div class="col-9 d-flex flex-column">
        <span class="question-text">{{ answer.content }}</span>
        <div class="correct-answer mt-auto">
            {% if answer.correct %}
                <input type="checkbox" checked disabled>
                <span class="correct-label">Правильный ответ</span>
            {% endif %}
        </div>
    </div>
</div>
