{% load static %}

<div class="row question">
    <div class="col-3">
        <img class="avatar-image" src="{% static question.author.avatar %}" alt="No photo">
        {% include "components/reputation.html" with rating=question.get_total_rating %}
    </div>
    <div class="col-9 d-flex flex-column">
        <a class="question-title" href="{% url 'question' question.id %}">{{ question.title }}</a>
        <div class="question-text">
            {{ question.content }}
        </div>
        <div class="d-flex align-items-center mt-auto">
            <span>Теги:</span>
            {% for tag in question.tags.all %}
            <span class="badge bg-primary" style="margin-left: 10px">{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
</div>
